<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.ememed.user2"
    android:versionCode="45"
    android:versionName="2.3.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:name="net.ememed.user2.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="net.ememed.user2.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
             <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <!-- 显示数据 -->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 定义成浏览器类型，有URL需要处理时会过滤 -->
                <data android:scheme="ememeduser" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.ememed.user2.medicalhistory.getImage.SelectPhotoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.medicalhistory.activity.MedicalHistoryEditFile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.medicalhistory.activity.QuestionXiangQingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.PutQuestionsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.MindActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.ShowImageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.CityActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.AccountWebActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.GuideActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.medicalhistory.activity.MedicalHistoryAddDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.medicalhistory.activity.MedicalHistoryMainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.medicalhistory.activity.MedicalHistoryYuLan"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 健康档案 -->
        <activity
            android:name="net.ememed.user2.erh.activity.ErhNameActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.erh.activity.ErhPayAndWorkActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 查看图片 -->
        <activity
            android:name="net.ememed.user2.medicalhistory.activity.ImageViewZoomActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.medicalhistory.checkImage.CheckImageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.medicalhistory.activity.MedicalHistoryEditFileActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.medicalhistory.activity.MedicalHistoryAddDetail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.erh.activity.ErhMainHistoryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.erh.activity.ErhNewAddHistoryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.erh.activity.ErhMultiChoiceActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.erh.activity.ErhMainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.erh.activity.ErhPersonBaseEditActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/fragment_StyledIndicators" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.HistoryChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/fragment_StyledIndicators" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.GuahaoDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.GuahaoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.GuahaoDoctorActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.HospitalActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.VisitPersonChoiceActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.KeshiActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.DoctorScheduleActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.HospitalDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.GuaHaoSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.GuahaoDoctorInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.HistoryGuahaoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.RegisterByMobileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.BindByMobileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.ConsultInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.TempActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.PersonInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.DoctorDetailInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.VisitPersonAddActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.VisitPersonEditActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.AboutUsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.FinaceDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.MoneyApplyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.SettingAppActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.WebViewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.SeekPwdActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.DoctorHistoryOrderActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.SettingPwdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.ImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.DoctorClininActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.DescribeServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Round.Dialog" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.YudingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Round.Dialog" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.GuahaoSuccessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Round.Dialog" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.DoctorSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.BuyTextConsultActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.BuyPhoneConsultActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.BuyShangmenActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.BuyCustomActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="eu.janmuller.android.simplecropimage.CropImage" />
        <activity
            android:name="net.ememed.user2.activity.ExpertSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.PrivateDoctorActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.ConsultDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.HelpEmemedsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.PayingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.FeedbackActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.QuestionDescriptionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.JiuyiConsultDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.PhoneConsultDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.BuyZhuyuanActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.BuyJiuyiActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.PhotoDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.DoctorInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.ProblemActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.ProblemInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.ReserveInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.NavigationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.DoctorBasicInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.DrugClassActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.DrugInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.DrugListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.umeng.fb.ConversationActivity" />
        <activity android:name="com.umeng.fb.ContactActivity" />
        <activity
            android:name="net.ememed.user2.activity.ChatActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.QuestionChatActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.MicroChatActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100371977" /> <!-- 100380359 100381104 222222 -->
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.avatar.ImageActivity" />
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- Caution! Do not change this app key. It is only for demo usage. -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="53ffe98dfd98c502ef03a391" >
        </meta-data>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="6714431966d21e5d7eaf8a131028b47e" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="ememed" >
        </meta-data>
        <!-- 地图 -->
        <activity
            android:name="net.ememed.user2.activity.BaiduMapActivity"
            android:theme="@style/horizontal_slide" >
        </activity>
        <!-- 自定义的contextmenu -->
        <activity
            android:name="net.ememed.user2.activity.ContextMenu"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <!-- 自定义的alertdialog -->
        <activity
            android:name="net.ememed.user2.activity.AlertDialog"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <!-- 显示下载大图页面 -->
        <activity
            android:name="net.ememed.user2.activity.ShowBigImage"
            android:theme="@style/horizontal_slide" >
        </activity>

        <!-- 充值页面 -->
        <activity
            android:name="net.ememed.user2.activity.AccountRechargeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.DotorAtelierFragment"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 搜索页面 -->
        <activity
            android:name="net.ememed.user2.activity.SearchResourceActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.AccountRechargeWebActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 消息中心 -->
        <activity
            android:name="net.ememed.user2.message_center.MessageCenterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.message_center.MessageListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.message_center.MessageSettingActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 自媒体 -->
        <activity
            android:name="net.ememed.user2.baike.SayActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.baike.SayDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.baike.RewardActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.baike.RewardPayActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="net.ememed.user2.baike.PicViewPagerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.baike.DoctorFansActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.baike.DoctorAttentionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.baike.MyRelativeActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <meta-data
        android:name="com.baidu.lbsapi.API_KEY"
        android:value="jMzb2U7OXotMSGVBYCQlARAP" />
        
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="920145800e7be11c1c468e67" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <!-- 设置环信应用的appkey -->
        <!-- 正式环境： android:value="ememed#ememeduserofficial" -->
        <!-- 测试环境： android:value="ememed#ememeddoctor" -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="ememed#ememeduserofficial" />

        <service android:name="com.easemob.chat.EMChatService" />

<!--                 <data android:scheme="tencent100371282" /> -->
        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent1102842679" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 微信分享回调 -->
        <activity
            android:name="net.ememed.user2.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.alipay.android.app.sdk.WapPayActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="net.ememed.user2" />
            </intent-filter>
        </activity>
        <!-- 搜素界面activity -->
        <activity
            android:name="net.ememed.user2.activity.SearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 轻松挂号使用指南 -->
        <activity
            android:name="net.ememed.user2.activity.GuaHaoUserGuideActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.ememed.user2.activity.GuaHaoUserGuideActivity2"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 用药助手 -->
        <activity
            android:name=".activity.DrugsHelperActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.WebViewThirdServiceActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 新版轻松挂号相关 -->
        <activity
            android:name="net.ememed.user2.guahao_new.SelectAreaActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <!-- 开机自启动服务 -->
        <receiver android:name="com.easemob.chat.StartServiceReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="net.ememed.user2.receiver.JpushReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />

                <category android:name="net.ememed.user2" />
            </intent-filter>
        </receiver>
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000" >
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="net.ememed.user2" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.tencent.sample.AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND" >
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- guahao -->
        <activity
            android:name=".activity.GuahaoFollowActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.VisitPersonChoiceActivity2"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.VisitPersonEditActivity2"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.GuahaoSmartActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GuahaoSmartBodyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EvaluateResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EvaluateServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VisitPersonAddActivity2"
            android:screenOrientation="portrait" />
        
        <!-- umeng update begin-->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <activity 
            android:name="com.umeng.update.UpdateDialogActivity"
		  	android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- umeng update end -->
        
        <!-- alert mobile -->
        <activity
            android:name=".activity.AlertMobileActivity"
            android:screenOrientation="portrait" />
    </application>
    <!-- 请注意包名不要是com.example.jpushdemo，以免冲突 -->
    <permission
        android:name="net.ememed.user2.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    

    <uses-permission android:name="net.ememed.user2.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE_EMEMED" />

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE_EMEMED" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- Optional for location -->

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <!-- 语音识别 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- llj baidu -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" >
    </uses-permission>

</manifest>